<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=5ee3f602e33972547d79285dd4c1d832&libraries=services"></script>

    <meta charset="utf-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" >
    <link th:href="@{/css/loading.css}" rel="stylesheet" type="text/css">


    <title>GuideUs</title>
</head>



<body>
<nav style="background-color: rgb(232, 242, 245);" class="navbar navbar-expand-lg navbar-light container-fluid" >
    <a class="navbar-brand" href="/">Guide Us</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/member/mypage">mypage</a>
            </li>
            <form action="/member/logout" method="post">
                <li class="nav-item">
                    <button style="border:none; background-color: rgb(232, 242, 245);" type="submit" class="nav-link">logout</button>
                </li>
            </form>
        </ul>

    </div>
    <p  class="nav-link" th:text="${LoginEmail+'님 환영합니다'}" style="float: right; margin-bottom: 0;" ></p>
</nav>


<div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

    <div id="menu_wrap" class="bg_white">
        <div class="option">
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    키워드 : <input type="text" value="" id="keyword" size="15" placeholder="장소를 입력하세요">
                    <button type="submit">검색하기</button>
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>
    <div id="search_wrap" class="">

    </div>

</div>


<script src="/js/Map.js" defer></script>
<script src="/js/ShowList.js" defer></script>
<script src="/js/SendData.js"defer></script>
<script src="/js/Loading.js"defer></script>

</body>
</html>